<body>
    <h2>Enter Student's Details:</h2>
<form action='/saveStudent' method='POST'>
    <table>
        <tr>
            <td>Name</td>
            <td><input name='studname' placeholder="Name"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input name='studaddr' placeholder="Address"></td>
    </tr>
    <tr>
        <td>City</td>
        <td><input name='studcity' placeholder="City"></td>
    </tr>
    <tr>
        <td>PIN</td>
        <td><input name='studpin' placeholder="PIN"></td>
    </tr>
    
</table>
<br>
<input type='submit' value='GO'>
</form>
</body>