<body>
    <form action='/updateStudent' method='POST'>
        <table>
            <tr>
                <td>
                    Enter the Name of Student to Change City:
                </td>
                <td>
                    <input name='txtname'/>
                </td>
            </tr>
            <tr>
                <td>
                    Enter the New City to modify
                </td>
                <td>
                    <input name='txtcity'/>
                </td>
            </tr>
        </table>
        <br>
        <input type='submit' value='Modify'/>
    </form>
</body>