<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <center>
        <h2>Enter  student Detail</h2>
    <form action="saveStudent" method="POST">
        <table>
            <tr>
                <td>Name</td>
                <td> <input name="studname" placeholder="Name"><br></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input name="studaddr" placeholder="Address"><br></td>
            </tr>

            <tr>
                <td>City</td>
                <td>
                    <input name="studcity" placeholder="City"><br>  
                </td>
            </tr>
            <tr>
                <td>PIN</td>
                <td>
                    <input name="studpin" placeholder="PIN"><br>

                </td>
            </tr>

    </table>
    <br>
       <input type="submit" value="Go"/>
    


    </form>
    </center>
    
</body>
</html>