<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %} - FlaskApp</title>
</head>
<style>
    nav a{
        color: red;
        font-size: 3em;
        margin-left: 50px;
        text-decoration: none;
        box-shadow: 0px 8px 16px 0px rbga(0,0,0,2);
        background-color: white;

    }

    nav a:hover{
        color: pink;
        background-color: antiquewhite;
    }
</style>
<body>
    <nav>
        <a href="{{ url_for('home')}}">Home</a>
        <a href="{{ url_for('about')}}">About</a>
        <a href="{{ url_for('product')}}" >Product</a>

    </nav>

    {% block content %}{% endblock %}
    
</body>
</html>